.btn{
      background-color: #EA4C89;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 0;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 100px;
      height: 50px;
      display: block;
      margin: 10px;
}

.diego {
    background-image: url(./2022-09-15_13-15-20_01.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    color: white;
}

.image1 {
    width: 129px;
    height: 85px;
    margin-bottom: 20px;
}

.imagediego {
    display: block;
}
